---
title: React Component
lead: Dp垂直频道样式规范使用说明
slug: reactcomponent
---

{{#each stylesheet.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">

      <!-- {{basename .}} -->
      {{success '>> Inlining:' (basename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}

